NMS_FOLDER.txt*
MODBUILDER/MOD_PAK_SOURCE.txt
MODBUILDER/CurrentModScript.txt
MODBUILDER/input.txt
MODBUILDER/MOD_FILENAME.txt
MODBUILDER/MOD_MBIN_SOURCE.txt
MODBUILDER/THIS_FOLDER_PATH.txt
MODBUILDER/MBINCompilerVersion.txt
MODBUILDER/OnlyOneScript.txt
MODBUILDER/PAK_LIST_CREATED.txt
MODBUILDER/pak_list.txt
Builds/
CreatedModPAKs/
EXML_Helper/
MapFileTrees/
NMS_pak_list.txtPretty.lua
REPORT.txt
MODBUILDER/COMBINED_CONTENT_LIST.txt
MODBUILDER/DateTime.txt
MODBUILDER/Composite_MOD_FILENAME.txt
MODBUILDER/MASTER_FOLDER_PATH.txt
MODBUILDER/MBIN_PAKS.txt
MODBUILDER/MODS_pak_list.txt
MODBUILDER/pak_listDateTime.txt
MODBUILDER/Times.txt
MODBUILDER/_TEMP/
MODBUILDER/MOD
MODBUILDER/LuaEndedOk.txt
MODBUILDER/MBINCompiler.log
ModScript/**
!ModScript/empty
ModExtraFilesToInclude/**
!ModExtraFilesToInclude/empty
